/*Reset CSS*/
*{    box-sizing: border-box;
}


/*Body-Bereich*/
.layout{
    width: min(1200px, calc(100% - 48px));
    margin: 0 auto;
}
body{background-color: #f5f6fa;
    margin: 0;
}

/*Navigation-Bereich */ 

.navbar{
    width: 100%;
    height: 60px;
    background-color: #0A0A0A; 
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;}

.logo{

    font-family: Inter, sans-serif;
    color: white;
    font-size: 20px;
    margin: 165px;}

.logo-link{
    text-decoration: none;
    color: white;}

.logo-link:hover{
  cursor: pointer;
    transform: translateY(-3px);}




.nav-links{
    display: flex;
    justify-content: space-between;
    gap: 20px;
text-decoration: none;
align-items: center;
    position: relative;
    list-style: none;}



#nav-item{
    color: #ffffff;
    text-decoration: none;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: Bold;
    display: inline-block;
    transition: transform 0.5s ease-in-out;}

    
#nav-item:hover{
  
    transition: 0.3s ;
    transform: translatex(-6px);}   

#nav-item:active{
    color: #2f3640;}




/* Bereich: Hero Section */

    /* Used fonts */
@font-face {
    font-family: "Inter";
    src: url("assets/Inter_18pt-Bold.ttf") format("ttf");
    font-weight: bold;
    font-style: normal;}


@font-face {
    font-family: "Inter";
    src: url("assets/Inter_18pt-Medium.ttf") format("ttf");
    font-weight: medium;
    font-style: normal;}



.hero-content{
    margin: 20px   50px;
}

.hero {
    display: flex;
     padding-top: 40px;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    gap: 60px;
}

.subtitle{
    font-family: "Inter", sans-serif;
    color: #2f3640;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}


.hero-title{
    font-family: "Inter", sans-serif;
    color: #2f3640;
    font-size: 64px;
    text-align: left;
    font-weight: bold;
    margin-top: 10px;
    
}

.hero-image{
    width: 100%;
    height: 520px;
    object-fit: cover;
    display: block; 
    transition: transform 0.8s ease;
    border-radius: 8px;}


.hero-image:hover{
    transform: scale(1.06);}


.hero-image-wrapper{
 width: 486px;
flex-shrink: 0;}


/*CTA BUTTON*/ 
.cta-btn-container{width: 200px;
    height: 50px;
    display: flex;
    justify-content: left;
    margin-top: 20px;}

.cta-btn{
background-color: #0A0A0A;
border-radius: 8px;
color: white;
font-family: "Inter", sans-serif;
font-size: 14px;   
font-weight: bold;
outline: none;
border: none;
transition: transform 0.3s ease,
                background-color 0.3s ease,
                box-shadow 0.3s ease;

}

/*Bewegung beim Hovern*/ 
.cta-btn:hover{
    background-color: black;
    transition: 0.3s;
    cursor: pointer;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.4);
    transform: translateY(-5px);

}




/*Section: 02--Leistunge */ 

.leistungen-content{ height: 600px;
    margin-top: 150px;
   
}






/*Boxen*/


.leistungen-grid{

   
    height: 300px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}




/*Box 1*/
.leistungen-item1 {
    background-color: #2f3542;
    border-radius: 8px;
    border: 3px solid white;
    opacity: 0.1;
    height: 300px;
    width: 300px;
    transition: opacity 0.8s ease-in-out;}

.leistungen-item1:hover {
    opacity: 1;}



/*Box 2*/
.leistungen-item2 {
    background-color: #2f3542;
    border-radius: 8px;
    border: 3px solid white;
    opacity: 0.1;
    height: 300px;
    width: 300px;
    transition: opacity 0.8s ease-in-out;}

.leistungen-item2:hover {
    opacity: 1;}



/*Box 3*/
.leistungen-item3 {
    background-color: #2f3542;
    border-radius: 8px;
    border: 3px solid white;
    opacity: 0.1;
    height: 300px;
    width: 300px;
    transition: opacity 0.8s ease-in-out;}

.leistungen-item3:hover {
    opacity: 1;}


    /*Inside-TEXT BOX1/2/3*/


    .leistungen-item-number{
    font-family: "Inter", sans-serif;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;}



    .leistungen-item-title{
    font-family: "Inter", sans-serif;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0.5px;
    margin: 0;
  
    padding-left: 10px;
    }

    .leistungen-item-text{
    font-family: "Inter", sans-serif;
    font-weight: regular;
    color: #ffffff;
    font-size: 16px;   
    padding: 10px;    
    text-align: left;
    line-height: 1.5;
    }




    