*{    box-sizing: border-box;
}


/*Body-Bereich*/

body{background-color: #f5f6fa;
    margin: 0;
}

/*Navigation-Bereich */ 

.navbar{
    width: 100%;
    height: 60px;
    background-color: #0A0A0A; 
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo{

    font-family: Inter, sans-serif;
    color: white;
    font-size: 20px;
    margin: 165px;
}

.logo-link{
    text-decoration: none;
    color: white;
}

.logo-link:hover{
  cursor: pointer;
    transform: translateY(-3px);
}




.nav-links{
    display: flex;
    justify-content: space-between;
    gap: 20px;
text-decoration: none;
align-items: center;
    position: relative;
    list-style: none;
}



#nav-item{
    color: #ffffff;
    text-decoration: none;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: Bold;
    display: inline-block;
    transition: transform 0.7s ease-in-out;
}

    


#nav-item:hover{
    transform: ease-in-out 0.3s;
    transition: 0.3s ;
    transform: translateX(-3px);
}   

#nav-item:active{
    color: #2f3640;
  

    padding: 10px 5px;
}







/*Section-Bereich-Hero-Content*/

@font-face {
    font-family: "Inter";
    src: url("assets/Inter_18pt-Bold.ttf") format("ttf");
    font-weight: bold;
    font-style: normal;}


@font-face {
    font-family: "Inter";
    src: url("assets/Inter_18pt-Medium.ttf") format("ttf");
    font-weight: medium;
    font-style: normal;}


.hero-content{
    margin: 20px    50px;
}

.hero {
    display: flex;
     padding-top: 40px;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    gap: 60px;
}

.subtitle{
    font-family: "Inter", sans-serif;
    color: #2f3640;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}


.hero-title{
    font-family: "Inter", sans-serif;
    color: #2f3640;
    font-size: 64px;
    text-align: left;
    font-weight: bold;
    margin-top: 10px;
    
}

.hero-image{
    width: 100%;
    height: 520px;
    object-fit: cover;
    display: block;
}




.hero-image-wrapper{
 width: 486px;
    flex-shrink: 0;}


/*CTA BUTTON*/ 

.cta-btn-container{width: 200px;
    height: 50px;
    display: flex;
    justify-content: left;
    margin-top: 20px;
}

.cta-btn{
background-color: #0A0A0A;
 border-radius: 5px;
color: white;
font-family: "Inter", sans-serif;
font-size: 14px;   
font-weight: bold;
outline: none;
border: none;
transition: transform 0.3s ease,
                background-color 0.3s ease,
                box-shadow 0.3s ease;

}

.cta-btn:hover{
    background-color: black;
    transition: 0.3s;
    cursor: pointer;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.4);
    transform: translateY(-5px);

}
